# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# =========================
# Slurm / HPC
# =========================
*.out
*.err

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Model Weights / Checkpoints
# =========================
*_weights/
weights/
checkpoints/
*.pt
*.pth
*.ckpt
*.h5

# =========================
# Conda / Environments
# =========================
.env
.env/
*.env
conda-meta/
*.yaml

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Mac / System
# =========================
.DS_Store
